*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color:white;
    border: 1px solid rgb(241, 227, 227);
    box-shadow: 5px 5px 7px rgb(153, 135, 135);
    height: auto;
    width: 432px;
    border-radius: 10px;
    font-size: 12px;
}
.container .heading{
    padding: 10px;
}
.container .heading p{
    color:#5c6064 ;
    border-bottom: 1px solid black;
    padding-bottom: 5px;

    
}
.container .heading h1{
    text-transform: capitalize;
    padding: 5px 0px;
}
.bottom{
    margin: 10px;
}
input{
    height: 40px;
    width: 170px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(148, 139, 139);
   padding: 10px;
   background-color: #d8d9da;
}
.email{
    display: block;
    width: 90%;
}
.password{
    display: block;
    width: 90%;
}
label{
    display: block;
    margin: 10px;
}
.dateofbirth{
    padding: 10px;
}
select {
    border-radius: 7px;
    height: 40px;
    width: 100px;
    background-color: #d8d9da;
    padding-left: 10px;
}
.gender{
    padding: 10px;
}
.genderradio{
    height: 10px;
    width: 30px;
;
}
.genderresize{
    display: inline;
    background-color: #d8d9da;
    padding: 10px;
    border-radius: 5px;
}
.termsandcondition{
    padding: 5px 2.5px 20px 20px;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
button{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #00a400;
    color: aliceblue;
}